## For each state, district and overall, find the following ratio: total number of persons vaccinated (both 1 and 2 doses) to total population

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

ALL REQUIRED CHANGES LIKE GROUPING BY DISTRICTNAMES,AND NECESSARY CHANGES ARE ALL CARRIED OUT BEFORE AND STORED IN
csvfile-- "firstandseconddoselatestnew1.csv"   (created in ques5)

In [2]:
#READING FILES
df = pd.read_csv(r'firstandseconddoselatestnew1.csv',usecols=['State','District','District_Key','dose1','dose2','Date'],parse_dates=['Date'])
cowin_data = pd.read_csv(r'cowin_vaccine_data_districtwise.csv')

In [3]:
#AS DATA IS CUMULATIVE WE MAKE USE OF LASTROW
def first_last(df1):
        return df1.iloc[[-1]]

In [4]:
#gives sum of doses in each district
df = df.groupby('District_Key').apply(first_last)
df.reset_index(inplace=True,drop=True)

## CENSUSDATA PREPROCESSING

In [5]:
censuscols = ['State','District','Level','Name','TRU','TOT_P']

census_data = pd.read_excel(r'DDW_PCA0000_2011_Indiastatedist.xlsx',usecols=censuscols)

In [6]:
#THIS TOTALPOPULATION IS USED IN OVERALL ANALYSIS
Total_population = census_data.iloc[0][-1]

CHANGES TO BE MADE

In [7]:
#MAPPING OF CENSUS DATA and VACCINEDATA DISTRICT NAMES
dist_mod = {'Allahabad ':'Prayagraj','Anugul':'Angul','Ahmadabad':'Ahmedabad',  'East District':'East Sikkim','North  District': 'North Sikkim', 'South District':'South Sikkim','West District':'West Sikkim','Garhwal':'Pauri Garhwal',
         'Gulbarga':'Kalaburagi','Ahmadnagar':'Ahmednagar','Almora\n':'Almora','Amritsar ':'Amritsar','Anand  ': 'Anand','Anugul  ':'Angul','Ariyalur  ':'Ariyalur','Badgam':'Budgam','Bagalkot ':'Bagalkote','Baleshwar':'Balasore','Banas Kantha':'Banaskantha','Bandipore':'Bandipora','Bangalore Rural':'Bengaluru Rural','Bankura ':'Bankura','Bara Banki':'Barabanki','Baramula':'Baramulla','Barwani ':'Barwani','Baudh':'Boudh','Belgaum':'Belagavi','Bellary':'Ballari', 'Bid':'Beed','Bulandshahr ':'Bulandshahr','Buldana':'Buldhana','Central':'Central Delhi','Chamarajanagar':'Chamarajanagara','Chikmagalur':'Chikkamagaluru', 'Chittaurgarh':'Chittorgarh', 'Dadra & Nagar Haveli':'Dadra and Nagar Haveli', 'Darjiling ':'Darjeeling',
         'Debagarh':'Deogarh', 'Dhamtari ':'Dhamtari', 'Dhaulpur':'Dholpur',  'Dimapur ':'Dimapur', 'Dindori ':'Dindori',
        'Dohad  ':'Dahod', 'East':'East Delhi', 'Faizabad':'Ayodhya', 'Firozpur':'Ferozepur', 'Ganganagar ':'Ganganagar',
         'Garhwa ':'Garhwa', 'Gondiya':'Gondia', 'Gurgaon':'Gurugram', 'Haora ':'Howrah', 'Harda ':'Harda','Hardwar':'Haridwar', 'Hugli ':'Hooghly', 'Idukki ':'Idukki','Jagatsinghapur ':'Jagatsinghpur','Jaintia Hills':'West Jaintia Hills', 'Jajapur  ':'Jajpur', 'Jalaun ':'Jalaun', 'Jalor':'Jalore','Jalpaiguri ':'Jalpaiguri', 'Janjgir - Champa':'Janjgir Champa', 'Jashpur ':'Jashpur', 'Jehanabad ':'Jehanabad','Jhunjhunun':'Jhunjhunu', 'Jyotiba Phule Nagar':'Amroha', 'Kachchh':'Kutch', 'Kaimur (Bhabua)':'Kaimur','Kanniyakumari':'Kanyakumari', 'Kanshiram Nagar':'Kasganj', 'Kapurthala ':'Kapurthala', 'Karur ':'Karur','Katni ':'Katni', 'Kendrapara ': 'Kendrapara', 'Khandwa (East Nimar)':'Khandwa','Khargone (West Nimar)':'Khargone','Kheri':'Lakhimpur Kheri', 'Khordha ':'Khordha', 'Koch Bihar ':'Cooch Behar', 'Kodarma':'Koderma', 'Korba ':'Korba','Lahul & Spiti':'Lahaul and Spiti', 'Leh(Ladakh)':'Leh', 'Mahamaya Nagar':'Hathras', 'Mahbubnagar':'Mahabubnagar','Mahesana':'Mehsana', 'Mahrajganj':'Maharajganj', 'Maldah ':'Malda', 'Malkangiri  ':'Malkangiri', 'Mewat ':'Nuh','Muktsar':'Sri Muktsar Sahib', 'Murshidabad ':'Murshidabad', 'Mysore':'Mysuru', 'Nabarangapur ':'Nabarangapur','Nadia ':'Nadia', 'Nagapattinam  ': 'Nagapattinam','Namakkal   ':'Namakkal', 'Narsimhapur':'Narsinghpur', 'Navsari  ':'Navsari', 'Nayagarh  ':'Nayagarh','Neemuch ':'Neemuch', 'North':'North Delhi', 'North  & Middle Andaman':'North and Middle Andaman', 'North East':'North East Delhi','North Twenty Four Parganas':'North 24 Parganas', 'North West':'North West Delhi', 'Palwal ':'Palwal','Panch Mahals':'Panchmahal','Pashchim Champaran':'West Champaran', 'Pashchimi Singhbhum':'West Singhbhum', 'Patan  ':'Patan','Perambalur  ':'Perambalur', 'Porbandar ':'Porbandar', 'Purba Champaran':'East Champaran', 'Purbi Singhbhum': 'East Singhbhum',
         'Puruliya':'Purulia', 'Rangareddy':'Ranga Reddy', 'Rayagada  ':'Rayagada','Sabar Kantha':'Sabarkantha', 'Sahibzada Ajit Singh Nagar':'S.A.S. Nagar', 'Sant Ravidas Nagar (Bhadohi)':'Bhadohi',
         'Shahid Bhagat Singh Nagar ':'Shahid Bhagat Singh Nagar', 'Sheopur ':'Sheopur', 'Shimoga':'Shivamogga',
         'Shupiyan': 'Shopiyan', 'South':'South Delhi','South Tripura ':'South Tripura', 'South Twenty Four Parganas':'South 24 Parganas', 'South West':'South West Delhi','NCT OF DELHI':'Delhi',
         'Sri Potti Sriramulu Nellore':'S.P.S. Nellore', 'Tamenglong ':'Tamenglong', 'The Dangs':'Dang',
         'The Nilgiris':'Nilgiris', 'Theni  ': 'Theni', 'Tirunelveli ':'Tirunelveli', 'Tumkur':'Tumakuru',
         'West':'West Delhi', 'West Tripura ':'West Tripura', 'Y.S.R.':'Y.S.R. Kadapa','Dibang Valley':'Upper Dibang Valley',
           }

In [8]:
#dropping rows OF TRU =(rural,urban)
a = census_data.loc[(census_data['TRU']=='Rural') | (census_data['TRU']=='Urban')].index
census_data = census_data.drop(a)

REPLACING WITH MAPPED VALUES

In [9]:
census_data.Name.replace(dist_mod,inplace=True)
census_data['Name'] = census_data['Name'].str.replace('&','and')

In [10]:
census_data.reset_index(inplace=True,drop=True)

In [11]:
census_data.shape

(676, 6)

AS THERE ARE NO STATENAMES INSTED THERE ARE STATEID SO WE MAP STATEID WITH STATE NAME TO GET STATE NAME

In [12]:
map_state = census_data[['State','Level', 'Name']]
map_state = map_state[map_state['Level']=='STATE']
map_state = map_state[['State','Name']]

In [13]:
# map_state.set_index('State')

In [14]:
g = dict(map_state.values) #mapping done with state number and state name

In [15]:
#REPLACING STATEID WITH STATE NAME
census_data.State.replace(g,inplace=True)
census_data['State'] = census_data['State'].str.lower()

#AS INDIA GETS NAN VALUE
census_data.fillna('0',inplace=True)

In [16]:
census_data.shape

(676, 6)

EXTRA MANUAL CHANGES REUIRED

In [17]:
# census_data[(census_data['Name'] == 'Vijayapura') & (census_data['State'] == 'karnataka')]
# census_data[(census_data['Name'] == 'Raigad') & (census_data['State'] == 'maharashtra')]

In [18]:
#IN KARNATAKA VIJAYAPURA OLD NAME WAS BIJAPUR
census_data.iloc[586,3] = 'Vijayapura'

#INMAHARASHTRA RAIGAD OLDNAME WAS RAIGARH
census_data.iloc[547,3] = 'Raigad'

In [19]:
census_data['full'] = census_data['State'].astype(str)+'_'+census_data['Name']

## census data completed

## VACCINEDATA PREPROCESSING

In [20]:
df['State'] = df['State'].str.lower()

THERE ARE TWO STATES TELANGANA AND LADAKH PRESENT IN VACC BUT NOT IN CENSUS,AS THEY ARE NEWLY FORMED STATES, but DISTRICTS ARE REMAINED SAME SO WE MERGE THEM INTO THEIR OLD STATES

In [21]:
census_data[census_data['Name'].str.contains('Spiti')]

,State,District,Level,Name,TRU,TOT_P,full
27,himachal pradesh,25,DISTRICT,Lahaul and Spiti,Total,31564,himachal pradesh_Lahaul and Spiti

In [22]:
df['State']=df['State'].str.replace('telangana','andhra pradesh')
df['State']=df['State'].str.replace('ladakh','jammu and kashmir')

In [23]:
#AS DADRA AND NAGAR HAVELI and DAMAN AND DIU ARE CONSIDERED AS DIFFERENT STATES WE ARE CHANGING STATE NAMES
df.iloc[152,0] = 'dadra and nagar haveli'
df.iloc[153,0] = 'daman and diu'
df.iloc[154,0] = 'daman and diu'

In [24]:
df.iloc[[154]]

             State District District_Key    dose1    dose2       Date
154  daman and diu      Diu       DN_Diu  37922.0  13642.0 2021-08-14

In [25]:
#THIS IS REQUIRED TO ENABLE MERGING BETWEEN CENSUSDATA AND VACCINATIONDATA
df['full'] = df['State'].astype(str)+'_'+df['District']

# STATE ANALYSIS

In [26]:

vacc_month = df[['State','dose1','dose2']]

In [27]:
#grouping by state:
vacc_month = vacc_month.groupby('State').aggregate({'dose1':sum,'dose2':sum})

In [28]:
vacc_month.reset_index(inplace=True)

In [29]:
vacc_month.head()

                         State         dose1        dose2
0  andaman and nicobar islands  2.327090e+05      97287.0
1               andhra pradesh  3.058983e+07   10637326.0
2            arunachal pradesh  9.501806e+09  286121142.0
3                        assam  1.143005e+07    2442900.0
4                        bihar  2.516738e+07    4859267.0

In [30]:
vacc_month.shape

(35, 3)

## STORING CENSUS DATA OF STATE ONLY IN THIS CELL

In [31]:
stateonly = census_data[census_data['Level']=='STATE']

stateonly.reset_index(inplace=True,drop=True)

In [32]:
#dropping state rows FROM CENSUS AS THEY ARE STORED ABOVE
ind = census_data[census_data['Level']=='STATE'].index
census_data.drop(ind,inplace=True)

In [33]:
res_state = pd.merge(vacc_month,stateonly, on=["State","State"])

In [34]:
res_state.head()
# res_state.shape

,State,dose1,dose2,District,Level,Name,TRU,TOT_P,full
0,andaman and nicobar islands,2.327090e+05,97287.0,0,STATE,ANDAMAN and NICOBAR ISLANDS,Total,380581,andaman and nicobar islands_ANDAMAN and NICOBA...
1,andhra pradesh,3.058983e+07,10637326.0,0,STATE,ANDHRA PRADESH,Total,84580777,andhra pradesh_ANDHRA PRADESH
2,arunachal pradesh,9.501806e+09,286121142.0,0,STATE,ARUNACHAL PRADESH,Total,1383727,arunachal pradesh_ARUNACHAL PRADESH
3,assam,1.143005e+07,2442900.0,0,STATE,ASSAM,Total,31205576,assam_ASSAM
4,bihar,2.516738e+07,4859267.0,0,STATE,BIHAR,Total,104099452,bihar_BIHAR

In [35]:
res_state['vaccinateddose1ratio'] = res_state['dose1']/res_state['TOT_P']
res_state['vaccinateddose2ratio'] = res_state['dose2']/res_state['TOT_P']

In [36]:
res_state = res_state[['State','vaccinateddose1ratio', 'vaccinateddose2ratio']]

## end for state

## DISTRICT ANALYSIS

In [37]:
df2 = pd.merge(df,census_data, on=["full",'full'])

In [38]:
df2.head()

,State_x,District_x,District_Key,dose1,dose2,Date,full,State_y,District_y,Level,Name,TRU,TOT_P
0,andaman and nicobar islands,Nicobars,AN_Nicobars,22081.0,8110.0,2021-08-14,andaman and nicobar islands_Nicobars,andaman and nicobar islands,638,DISTRICT,Nicobars,Total,36842
1,andaman and nicobar islands,North and Middle Andaman,AN_North and Middle Andaman,68043.0,29281.0,2021-08-14,andaman and nicobar islands_North and Middle A...,andaman and nicobar islands,639,DISTRICT,North and Middle Andaman,Total,105597
2,andaman and nicobar islands,South Andaman,AN_South Andaman,142585.0,59896.0,2021-08-14,andaman and nicobar islands_South Andaman,andaman and nicobar islands,640,DISTRICT,South Andaman,Total,238142
3,andhra pradesh,Anantapur,AP_Anantapur,1364374.0,597346.0,2021-08-14,andhra pradesh_Anantapur,andhra pradesh,553,DISTRICT,Anantapur,Total,4081148
4,andhra pradesh,Chittoor,AP_Chittoor,1565591.0,640864.0,2021-08-14,andhra pradesh_Chittoor,andhra pradesh,554,DISTRICT,Chittoor,Total,4174064

In [39]:
df2['vaccinateddose1ratio'] = df2['dose1']/df2['TOT_P']
df2['vaccinateddose2ratio'] = df2['dose2']/df2['TOT_P']

In [40]:
res_district = df2[['District_Key','vaccinateddose1ratio', 'vaccinateddose2ratio']]

In [41]:
#SORTING ON DOSE1 RATIO
res_district.sort_values('vaccinateddose1ratio',inplace=True)
res_state.sort_values('vaccinateddose1ratio',inplace=True)

In [42]:
#writing to csv "DISTRICT"
res_district.to_csv('district-vaccinated-dose-ratio.csv',index=False)

#writing to csv "STATE"
res_state.to_csv('state-vaccinated-dose-ratio.csv',index=False)

# OVERALL ANALYSIS

In [43]:
fdose1 = cowin_data['14/08/2021.3']
sdose1 = cowin_data['14/08/2021.4']

In [44]:
dose1 = pd.to_numeric(fdose1[1:]).sum()
dose2 = pd.to_numeric(sdose1[1:]).sum()

In [45]:
dose1,dose2

(419687994, 119692027)

In [46]:
vdr1 = dose1/Total_population
vdr2 = dose2/Total_population

In [47]:
vdr1,vdr2

(0.34660467353391405, 0.0988491844800007)

In [48]:
overall=pd.DataFrame(data = {'overall':['India'],'vaccinateddose1ratio':[vdr1],'vaccinateddose2ratio':[vdr2]})

In [49]:
overall

  overall  vaccinateddose1ratio  vaccinateddose2ratio
0   India              0.346605              0.098849

In [50]:
overall.to_csv('overall-vaccinated-dose-ratio.csv',index=False)