## TURNING DATE COLUMNS INTO ROWS AND MERGING DISTRICTS WITH SAME DISTRICTID

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

LOADING DATA

In [2]:
df = pd.read_csv(r'cowin_vaccine_data_districtwise.csv')

In [3]:
# COLLECTING ALL COLUMNS AS DATES ARE ALSO PRESENT IN COLUMNS
list1 = df.columns

# COLLECTING ALL DATES INTO A LIST
dates_unmod=[]

for i in range(len(list1)):
    if(".3" in list1[i]):         #AS .3 has 1stDOSE and .4 HAS 2nddose
        dates_unmod.append((list1[i],list1[i+1]))

In [4]:
#AS WE NEED TO ANALYSE TILL 14/08/2021.3
dates_unmod =dates_unmod[:211]

In [5]:
dates_unmod[-1:] #checking LAST DATE

[('14/08/2021.3', '14/08/2021.4')]

# CONVERTING DATE COLUMNS INTO DATE ROWS

In [6]:
#THIS IS ENTIRE DATAFRAME WITH ALL DISTRICTS AND CONTAING DATES AS ROWS
dfnew = pd.DataFrame()           

dist = df['District_Key']

In [7]:
datesls=[]
#CREATING A DATAFRAME DATEWISE FOR ALL DISTRICTS
for i in dates_unmod:
    t = pd.DataFrame()      
    firstdose = df[i[0]]   #getting from main datframe 1st dose values
    seconddose = df[i[1]]  ##getting from main datframe 2nd dose values
    
    t = df.loc[:,['State','District','District_Key']]
    t['dose1'] = firstdose
    t['dose2'] = seconddose
    t['Date'] = i[0].replace(".3","")
    
    dfnew = pd.concat([dfnew,t])

In [8]:
dfnew.dtypes

State           object
District        object
District_Key    object
dose1           object
dose2           object
Date            object
dtype: object

In [9]:
dfnew['Date'] =  pd.to_datetime(dfnew['Date'], format='%d/%m/%Y')

In [10]:
#DROPPING FIRST ROW OF DATAFRAME AS IT NOT REQUIRED
a = dfnew[dfnew['dose1']=='First Dose Administered'].index
finaldf = dfnew.drop(a)

In [11]:
# finaldf[finaldf['District_Key']=='TN_Salem']

In [12]:
# (finaldf[['District_Key','State']].value_counts())

COMBINING NUMBER OF DOSES WITH SAME DISTRICTKEY USING GROUPBY

In [13]:
t=finaldf.groupby(['District_Key','Date','State','District']).aggregate({'dose1':sum,'dose2':sum})

In [14]:
# t.loc['TN_Salem']
# # t[t['District_Key']=='TN_Salem']

In [15]:
t.reset_index(inplace=True)

In [16]:
t

,District_Key,Date,State,District,dose1,dose2
0,AN_Nicobars,2021-01-16,Andaman and Nicobar Islands,Nicobars,0,0
1,AN_Nicobars,2021-01-17,Andaman and Nicobar Islands,Nicobars,0,0
2,AN_Nicobars,2021-01-18,Andaman and Nicobar Islands,Nicobars,0,0
3,AN_Nicobars,2021-01-19,Andaman and Nicobar Islands,Nicobars,1,0
4,AN_Nicobars,2021-01-20,Andaman and Nicobar Islands,Nicobars,1,0
...,...,...,...,...,...,...
153814,WB_Uttar Dinajpur,2021-08-10,West Bengal,Uttar Dinajpur,510603,166508
153815,WB_Uttar Dinajpur,2021-08-11,West Bengal,Uttar Dinajpur,513480,167422
153816,WB_Uttar Dinajpur,2021-08-12,West Bengal,Uttar Dinajpur,518137,168836
153817,WB_Uttar Dinajpur,2021-08-13,West Bengal,Uttar Dinajpur,529876,171224
153818,WB_Uttar Dinajpur,2021-08-14,West Bengal,Uttar Dinajpur,540958,173055

In [17]:
t =t[['State','District','District_Key','dose1','dose2','Date']]

In [28]:
convert_dict = {'dose1': float,'dose2': float}
t = t.astype(convert_dict)

In [30]:
t.dtypes

State                   object
District                object
District_Key            object
dose1                  float64
dose2                  float64
Date            datetime64[ns]
dtype: object

In [20]:
t.to_csv('firstandseconddoselatestnew1.csv',index=False)

SyntaxError: invalid syntax (<ipython-input-22-a5b20d15db4e>, line 1)