## an undirected graph of districts

In [1]:
#IMPORTING REQUIRED LIBRARIES
import json
import pandas as pd
import numpy as np

In [2]:
#LOADING JSON FILE
with open(r'neighbor-districts-modified.json') as f:
    jdata = json.load(f)

In [3]:
neighbours = []

APPENDING NODES TO NEIGHBOURS

In [4]:
for key ,value in jdata.items():
    for i in value:
        row = [i,key]
        if row not in neighbours:       # ONLY IF THERE WAS NO EDGE BETWEEN THAT NODES
            neighbours.append([key,i])

In [5]:
finaldf = pd.DataFrame(columns=['Node1','Node2'])

STORING INTO A DATAFRAME

In [6]:
for i in neighbours:
    finaldf.loc[len(finaldf.index)] = [i[0],i[1]]

In [7]:
finaldf

                     Node1                 Node2
0             AP_anantapur           AP_chittoor
1             AP_anantapur            AP_kurnool
2             AP_anantapur      AP_y.s.r. kadapa
3             AP_anantapur            KA_ballari
4             AP_anantapur    KA_chikkaballapura
...                    ...                   ...
1958  WB_north 24 parganas  WB_south 24 parganas
1959  WB_paschim bardhaman    WB_purba bardhaman
1960  WB_paschim bardhaman            WB_purulia
1961  WB_paschim medinipur    WB_purba medinipur
1962    WB_purba medinipur  WB_south 24 parganas

[1963 rows x 2 columns]

FINAL OUTPUT

In [8]:
finaldf.to_csv('edge-graph.csv',index=False)