## find the number of cases for each district

## ANALYSIS FROM 24-06-2020 to 14-08-2021

In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
df = pd.read_csv(r'districts.csv',parse_dates=['Date'],usecols=['Date', 'State', 'District', 'Confirmed'])
# index_col=['District','State','Date']

In [3]:
#REMOVING EXTRA DATES AS ANALYSIS REQUIRES ONLY UPTO AUG14
ind = df[df['Date'] > '2021-08-14'].index
df.drop(ind,inplace=True)
df.head()
df.shape

(307246, 4)

In [4]:
#Combining state id and district id
state_code = pd.read_csv(r'district_wise.csv',usecols=['State_Code','State'])

In [5]:
s = state_code['State'].unique()                  #STATENAME
sc = state_code['State_Code'].unique()            #STATECODE

In [6]:
#creating a dict with statename and its state id
mapping = {}
for i in range(len(s)):
    mapping[s[i]] = sc[i]

USING THE ABOVE MAPPING WE CONSTRUCT DISTRICTID

In [7]:
tdf=df.loc[:,'State'].map(mapping)
df['State'] = tdf

In [8]:
df['District id'] = df['State'].astype(str)+'_'+df['District']
df = df[['District id','Date','Confirmed']]

In [9]:
# df.head()

In [10]:
# COPY OF DATAFRAME
newdf = df.copy()
#SETTING DATE COLUMNS AS INDEX
newdf.set_index('Date',inplace=True)

THIS FUNCTION TAKES EACH DISTRICTID AND CALCULATES NUMBER OF CASES IN EACH WEAK AND RETURNS THE DATAFRAME

In [11]:
def thefunc_week(name):
    dfsub = newdf.loc[newdf['District id']==name]
    def first_last(df1):
        return df1.iloc[[-1]]

    dfsub=dfsub.resample('W-SAT').apply(first_last)

    val= dfsub['Confirmed'][0]
    dfsub1 = dfsub.copy()
    dfsub1['Confirmed'] = dfsub.Confirmed.diff()
    dfsub1['Confirmed'].fillna(value=val,inplace=True)
    dfsub1 = dfsub1.astype({'Confirmed': 'int'})
    
    return dfsub1

In [12]:
#DISTRICT_names
dist_names = newdf['District id'].unique()

In [13]:
# COLLECTION OF ALL DISTRICTS IN A LIST
coll_df = []

In [14]:
#SOME OF THE ARE REMOVED WHICH ARE NOT NECESSARY FOR ANALYSIS
# LIKE "UNKNOWN DISTRICTS"
avoid_list = ['TN_Unknown','NL_Unknown','WB_Unknown','MP_Katni','MP_Niwari','MH_Unknown','TR_Unknown','CT_Unknown',
             'JH_Unknown','ML_Unknown','MP_Unknown']
for i in range(len(dist_names)):
    if dist_names[i] in avoid_list:
        continue
        
    st=thefunc_week(dist_names[i])   #each district id dataframe
    coll_df.append(st)         #appending to a list

In [15]:
#final df without weaknum
finaldf_week = pd.concat(coll_df)
finaldf_week.reset_index(inplace=True)

In [16]:
finaldf_week.shape

(43836, 3)

## DATE and WEak num mapping

In [17]:
weak_ranges = pd.date_range('2020-04-26','2021-08-14',freq='W-SAT')    #WEEK ENDS ON SATURDAY (sunday to saturday)

In [18]:
#creating a series 
myseries = pd.Series(weak_ranges, index=range(1,69))  #as ther are  68weeks

In [19]:
def assign_weak_num(check):
    m = myseries[myseries <= check].index
    a=m[-1]         #ASSIGNING A WEAK NUM
    return a

In [20]:
finaldf_week['new'] = finaldf_week.Date.apply(assign_weak_num)

In [21]:
finaldf_week.head()

        Date District id  Confirmed  new
0 2020-05-02  AN_Unknown         33    1
1 2020-05-09  AN_Unknown          0    2
2 2020-05-16  AN_Unknown          0    3
3 2020-05-23  AN_Unknown          0    4
4 2020-05-30  AN_Unknown          0    5

In [22]:
finaldf_week.rename(columns={'District id':'districtid','new':'timeid','Confirmed':'cases'},inplace=True)
finaldf_week = finaldf_week[['districtid','timeid','cases']]

In [23]:
finaldf_week.to_csv('cases-week.csv',index=False)

### ANALYSIS MONTHLYWISE

In [24]:
# CRATING MONTH SEQUENCE (16months)
mdates = [['2020-04-15','2020-05-14'],['2020-05-15','2020-06-14'],['2020-06-15','2020-07-14'],['2020-07-15','2020-08-14'],
         ['2020-08-15','2020-09-14'],['2020-09-15','2020-10-14'],['2020-10-15','2020-11-14'],['2020-11-15','2020-12-14'],
         ['2020-12-15','2021-01-14'],['2021-01-15','2021-02-14'],['2021-02-15','2021-03-14'],['2021-03-15','2021-04-14'],
          ['2021-04-15','2021-05-14'],['2021-05-15','2021-06-14'],['2021-06-15','2021-07-14'],['2021-07-15','2021-08-14']]

In [25]:
# CONVERTING INTO PANDAS DATETIME
for i in range(len(mdates)):
    mdates[i][0]=pd.to_datetime(mdates[i][0])
    mdates[i][1]=pd.to_datetime(mdates[i][1])

In [26]:
def thefunc(name):   #MONTH ANALYSIS FUNCTION
    dfsub = newdf.loc[newdf['District id']==name]        #string into another DF
    
    def first_last(df1):          #AS DATA IS CUMULATIVE WE MAKE USE OF LAST ROW IN EACH STATE
        return df1.iloc[[-1]]
    
    dfsub1= dfsub[0:0]  #creating an empty dataframe
    dfsub1['Month'] = 0
    
    ls=[]
    for i in range(len(mdates)):
        try:
            row = (dfsub[mdates[i][0]:mdates[i][1]][-1:])
        
            d = pd.DataFrame(row)
            if len(d.index) == 0:
                continue
            dfsub1 = pd.concat([dfsub1,d])
            ls.append(i+1)
        except:
            continue
            
    dfsub1['Month'] = ls    #ASSINING MONTHID
    
    val= dfsub1['Confirmed'][0]
    #dfsub1 HAS ALL CUMULATIVE TILL RSPECTIV LAST DATE OF MONTH
    
    dfsub2 = dfsub1.copy()
    
    #HERE WE SUBSTRACT FROM ABOVE MONTH WHICH GIVES RESPECTIVE MONTH CASES
    dfsub2['Confirmed'] = dfsub1.Confirmed.diff()
    #TOOVERCCOME "DIFF"func NA in FIRST ROW
    dfsub2['Confirmed'].fillna(value=val,inplace=True)
    dfsub2 = dfsub2.astype({'Confirmed': 'int'})
    
    return dfsub2

In [27]:
coll_df2 = []         #LIST OF ALL DISTRICTS

In [28]:
coll_df2

[]

In [29]:
# CALCULATING FOR EACH DISTRICT
for i in range(len(dist_names)):
    st=thefunc(dist_names[i])   
    coll_df2.append(st)

In [30]:
#COLLECTION OF ALL DISTRICTS INTO A SINGLE DATAFRAME
finaldf2 = pd.concat(coll_df2)
finaldf2.reset_index(inplace=True)

In [31]:
finaldf2

            Date        District id  Confirmed  Month
0     2020-05-14         AN_Unknown         33      1
1     2020-06-14         AN_Unknown          7      2
2     2020-07-14         AN_Unknown        131      3
3     2020-08-14         AN_Unknown       2015      4
4     2020-09-14         AN_Unknown       1371      5
...          ...                ...        ...    ...
10384 2021-07-14     LD_Lakshadweep        800     15
10385 2021-08-14     LD_Lakshadweep        249     16
10386 2021-07-14  TN_Mayiladuthurai      20590     15
10387 2021-08-14  TN_Mayiladuthurai        809     16
10388 2021-07-21         KL_Unknown          0     16

[10389 rows x 4 columns]

In [32]:
finaldf2.rename(columns={'District id':'districtid','Month':'timeid','Confirmed':'cases'},inplace=True)
finaldf2 = finaldf2[['districtid','timeid','cases']]
finaldf2

              districtid  timeid  cases
0             AN_Unknown       1     33
1             AN_Unknown       2      7
2             AN_Unknown       3    131
3             AN_Unknown       4   2015
4             AN_Unknown       5   1371
...                  ...     ...    ...
10384     LD_Lakshadweep      15    800
10385     LD_Lakshadweep      16    249
10386  TN_Mayiladuthurai      15  20590
10387  TN_Mayiladuthurai      16    809
10388         KL_Unknown      16      0

[10389 rows x 3 columns]

In [33]:
#WRITING INTO CSV FOR MONTHLY
finaldf2.to_csv('cases-month.csv',index=False)

### ANALYSIS OVERALL

In [34]:
def thefunc_overall(name):
    dfsub = newdf.loc[newdf['District id']==name]
    return dfsub.iloc[[-1]]                    #ASDATA IS CUMULATIVE

In [35]:
coll_df3 = []         #LIST OF ALL DISTRICTS

In [36]:
# CALCULATING FOR EACH DISTRICT
for i in range(len(dist_names)):
    st=thefunc_overall(dist_names[i])   
    coll_df3.append(st)

In [37]:
#COLLECTION OF ALL DISTRICTS INTO A SINGLE DATAFRAME
finaldf3 = pd.concat(coll_df3)
finaldf3.reset_index(inplace=True)

In [38]:
finaldf3['overall'] = 1  #ADDING TIMEID

In [39]:
finaldf3

          Date                District id  Confirmed  overall
0   2021-08-14                 AN_Unknown       7548        1
1   2021-08-14               AP_Anantapur     156771        1
2   2021-08-14                AP_Chittoor     234871        1
3   2021-08-14           AP_East Godavari     282389        1
4   2021-08-14                  AP_Guntur     170493        1
..         ...                        ...        ...      ...
675 2021-08-14  ML_South West Khasi Hills       2035        1
676 2021-08-14              OR_State Pool      27452        1
677 2021-08-14             LD_Lakshadweep      10285        1
678 2021-08-14          TN_Mayiladuthurai      21399        1
679 2021-07-21                 KL_Unknown          0        1

[680 rows x 4 columns]

In [40]:
finaldf3.rename(columns={'District id':'districtid','overall':'timeid','Confirmed':'cases'},inplace=True)
finaldf3 = finaldf3[['districtid','timeid','cases']]
finaldf3

                    districtid  timeid   cases
0                   AN_Unknown       1    7548
1                 AP_Anantapur       1  156771
2                  AP_Chittoor       1  234871
3             AP_East Godavari       1  282389
4                    AP_Guntur       1  170493
..                         ...     ...     ...
675  ML_South West Khasi Hills       1    2035
676              OR_State Pool       1   27452
677             LD_Lakshadweep       1   10285
678          TN_Mayiladuthurai       1   21399
679                 KL_Unknown       1       0

[680 rows x 3 columns]

In [41]:
#WRITING INTO CSV FOR MONTHLY
finaldf3.to_csv('cases-overall.csv',index=False)

# FINISHED