## find the following ratios: total number of females vaccinated (either 1 or 2 doses) to total number of males vaccinated for each district,state overall

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [2]:
#REQUIRED COLUMNS
censuscols = ['State','District','Level','Name','TRU','TOT_P', 'TOT_M', 'TOT_F']

In [3]:
census_data = pd.read_excel(r'DDW_PCA0000_2011_Indiastatedist.xlsx',usecols=censuscols)

In [4]:
#MAPPING OF CENSUS DATA and VACCINEDATA DISTRICT NAMES
dist_mod = {'Allahabad ':'Prayagraj','Anugul':'Angul','Ahmadabad':'Ahmedabad',  'East District':'East Sikkim','North  District': 'North Sikkim', 'South District':'South Sikkim','West District':'West Sikkim','Garhwal':'Pauri Garhwal',
         'Gulbarga':'Kalaburagi','Ahmadnagar':'Ahmednagar','Almora\n':'Almora','Amritsar ':'Amritsar','Anand  ': 'Anand','Anugul  ':'Angul','Ariyalur  ':'Ariyalur','Badgam':'Budgam','Bagalkot ':'Bagalkote','Baleshwar':'Balasore','Banas Kantha':'Banaskantha','Bandipore':'Bandipora','Bangalore Rural':'Bengaluru Rural','Bankura ':'Bankura','Bara Banki':'Barabanki','Baramula':'Baramulla','Barwani ':'Barwani','Baudh':'Boudh','Belgaum':'Belagavi','Bellary':'Ballari', 'Bid':'Beed','Bulandshahr ':'Bulandshahr','Buldana':'Buldhana','Central':'Central Delhi','Chamarajanagar':'Chamarajanagara','Chikmagalur':'Chikkamagaluru', 'Chittaurgarh':'Chittorgarh', 'Dadra & Nagar Haveli':'Dadra and Nagar Haveli', 'Darjiling ':'Darjeeling',
         'Debagarh':'Deogarh', 'Dhamtari ':'Dhamtari', 'Dhaulpur':'Dholpur',  'Dimapur ':'Dimapur', 'Dindori ':'Dindori',
        'Dohad  ':'Dahod', 'East':'East Delhi', 'Faizabad':'Ayodhya', 'Firozpur':'Ferozepur', 'Ganganagar ':'Ganganagar',
         'Garhwa ':'Garhwa', 'Gondiya':'Gondia', 'Gurgaon':'Gurugram', 'Haora ':'Howrah', 'Harda ':'Harda','Hardwar':'Haridwar', 'Hugli ':'Hooghly', 'Idukki ':'Idukki','Jagatsinghapur ':'Jagatsinghpur','Jaintia Hills':'West Jaintia Hills', 'Jajapur  ':'Jajpur', 'Jalaun ':'Jalaun', 'Jalor':'Jalore','Jalpaiguri ':'Jalpaiguri', 'Janjgir - Champa':'Janjgir Champa', 'Jashpur ':'Jashpur', 'Jehanabad ':'Jehanabad','Jhunjhunun':'Jhunjhunu', 'Jyotiba Phule Nagar':'Amroha', 'Kachchh':'Kutch', 'Kaimur (Bhabua)':'Kaimur','Kanniyakumari':'Kanyakumari', 'Kanshiram Nagar':'Kasganj', 'Kapurthala ':'Kapurthala', 'Karur ':'Karur','Katni ':'Katni', 'Kendrapara ': 'Kendrapara', 'Khandwa (East Nimar)':'Khandwa','Khargone (West Nimar)':'Khargone','Kheri':'Lakhimpur Kheri', 'Khordha ':'Khordha', 'Koch Bihar ':'Cooch Behar', 'Kodarma':'Koderma', 'Korba ':'Korba','Lahul & Spiti':'Lahaul and Spiti', 'Leh(Ladakh)':'Leh', 'Mahamaya Nagar':'Hathras', 'Mahbubnagar':'Mahabubnagar','Mahesana':'Mehsana', 'Mahrajganj':'Maharajganj', 'Maldah ':'Malda', 'Malkangiri  ':'Malkangiri', 'Mewat ':'Nuh','Muktsar':'Sri Muktsar Sahib', 'Murshidabad ':'Murshidabad', 'Mysore':'Mysuru', 'Nabarangapur ':'Nabarangapur','Nadia ':'Nadia', 'Nagapattinam  ': 'Nagapattinam','Namakkal   ':'Namakkal', 'Narsimhapur':'Narsinghpur', 'Navsari  ':'Navsari', 'Nayagarh  ':'Nayagarh','Neemuch ':'Neemuch', 'North':'North Delhi', 'North  & Middle Andaman':'North and Middle Andaman', 'North East':'North East Delhi','North Twenty Four Parganas':'North 24 Parganas', 'North West':'North West Delhi', 'Palwal ':'Palwal','Panch Mahals':'Panchmahal','Pashchim Champaran':'West Champaran', 'Pashchimi Singhbhum':'West Singhbhum', 'Patan  ':'Patan','Perambalur  ':'Perambalur', 'Porbandar ':'Porbandar', 'Purba Champaran':'East Champaran', 'Purbi Singhbhum': 'East Singhbhum',
         'Puruliya':'Purulia', 'Rangareddy':'Ranga Reddy', 'Rayagada  ':'Rayagada','Sabar Kantha':'Sabarkantha', 'Sahibzada Ajit Singh Nagar':'S.A.S. Nagar', 'Sant Ravidas Nagar (Bhadohi)':'Bhadohi',
         'Shahid Bhagat Singh Nagar ':'Shahid Bhagat Singh Nagar', 'Sheopur ':'Sheopur', 'Shimoga':'Shivamogga',
         'Shupiyan': 'Shopiyan', 'South':'South Delhi','South Tripura ':'South Tripura', 'South Twenty Four Parganas':'South 24 Parganas', 'South West':'South West Delhi','NCT OF DELHI':'Delhi',
         'Sri Potti Sriramulu Nellore':'S.P.S. Nellore', 'Tamenglong ':'Tamenglong', 'The Dangs':'Dang',
         'The Nilgiris':'Nilgiris', 'Theni  ': 'Theni', 'Tirunelveli ':'Tirunelveli', 'Tumkur':'Tumakuru',
         'West':'West Delhi', 'West Tripura ':'West Tripura', 'Y.S.R.':'Y.S.R. Kadapa','Dibang Valley':'Upper Dibang Valley',
           }

In [5]:
#dropping rows OF TRU =(rural,urban) as not needed
a = census_data.loc[(census_data['TRU']=='Rural') | (census_data['TRU']=='Urban')].index
census_data = census_data.drop(a)

AS THERE ARE DIFFERENCES IN SPELLINGS WE CORRECT THEM AND RELATE THEM HERE

In [6]:
census_data.Name.replace(dist_mod,inplace=True)   #USING ABOVE MAPPING DICTIONARY

In [7]:
census_data['Name'] = census_data['Name'].str.replace('&','and')

In [8]:
census_data.sort_values(['Level','State'])

,State,District,Level,Name,TRU,TOT_P,TOT_M,TOT_F
6,1,1,DISTRICT,Kupwara,Total,870354,474190,396164
9,1,2,DISTRICT,Budgam,Total,753745,398041,355704
12,1,3,DISTRICT,Leh,Total,133487,78971,54516
15,1,4,DISTRICT,Kargil,Total,140802,77785,63017
18,1,5,DISTRICT,Punch,Total,476835,251899,224936
...,...,...,...,...,...,...,...,...
1851,31,0,STATE,LAKSHADWEEP,Total,64473,33123,31350
1857,32,0,STATE,KERALA,Total,33406061,16027412,17378649
1902,33,0,STATE,TAMIL NADU,Total,72147030,36137975,36009055
2001,34,0,STATE,PUDUCHERRY,Total,1247953,612511,635442
2016,35,0,STATE,ANDAMAN and NICOBAR ISLANDS,Total,380581,202871,177710

In [9]:
#FEMALE TO MALE POPULATION RATIO
census_data['fmratio'] = census_data['TOT_F']/census_data['TOT_M']

In [10]:
#with ratoos female to male
census_data.reset_index(inplace=True,drop=True)
census_data

,State,District,Level,Name,TRU,TOT_P,TOT_M,TOT_F,fmratio
0,0,0,India,India,Total,1210854977,623270258,587584719,0.942745
1,1,0,STATE,JAMMU and KASHMIR,Total,12541302,6640662,5900640,0.888562
2,1,1,DISTRICT,Kupwara,Total,870354,474190,396164,0.835454
3,1,2,DISTRICT,Budgam,Total,753745,398041,355704,0.893637
4,1,3,DISTRICT,Leh,Total,133487,78971,54516,0.690329
...,...,...,...,...,...,...,...,...,...
671,34,637,DISTRICT,Karaikal,Total,200222,97809,102413,1.047071
672,35,0,STATE,ANDAMAN and NICOBAR ISLANDS,Total,380581,202871,177710,0.875975
673,35,638,DISTRICT,Nicobars,Total,36842,20727,16115,0.777488
674,35,639,DISTRICT,North and Middle Andaman,Total,105597,54861,50736,0.924810
675,35,640,DISTRICT,South Andaman,Total,238142,127283,110859,0.870965

AS THERE ARE NO STATENAMES INSTED THERE ARE STATEID SO WE MAP STATEID WITH STATE NAME TO GET STATE NAME

In [11]:
map_state = census_data[['State','Level', 'Name']]
map_state = map_state[map_state['Level']=='STATE']
map_state = map_state[['State','Name']]

In [12]:
map_state.head()

    State               Name
1       1  JAMMU and KASHMIR
24      2   HIMACHAL PRADESH
37      3             PUNJAB
58      4         CHANDIGARH
60      5        UTTARAKHAND

In [13]:
g = dict(map_state.values) #mapping done with state number and state name

In [14]:
#REPLACING STATEID WITH STATE NAME
census_data.State.replace(g,inplace=True)
census_data['State'] = census_data['State'].str.lower()

In [15]:
census_data.fillna('0',inplace=True) #AS INDIA GETS NAN VALUE

In [16]:
# census_data[(census_data['Name'] == 'Bijapur') & (census_data['State'] == 'karnataka')]
# census_data[(census_data['Name'] == 'Raigarh') & (census_data['State'] == 'maharashtra')]

In [17]:
#IN KARNATAKA VIJAYAPURA OLD NAME WAS BIJAPUR
census_data.iloc[586,3] = 'Vijayapura'

#INMAHARASHTRA RAIGAD OLDNAME WAS RAIGARH
census_data.iloc[547,3] = 'Raigad'

In [18]:
#CONCATENATING STATENAME AND DISTRICTNAME to DIFFERENTIATE DISTRICTS WITH SAMENAME PRESENT IN DIFFERENT DISTRICTS
census_data['full'] = census_data['State'].astype(str)+'_'+census_data['Name']

In [19]:
census_data.loc[census_data['Name']=='Pratapgarh']

,State,District,Level,Name,TRU,TOT_P,TOT_M,TOT_F,fmratio,full
139,rajasthan,131,DISTRICT,Pratapgarh,Total,867848,437744,430104,0.982547,rajasthan_Pratapgarh
182,uttar pradesh,173,DISTRICT,Pratapgarh,Total,3209141,1606085,1603056,0.998114,uttar pradesh_Pratapgarh

#census data completed

LOADING VACC DATA CREATED BY ME

In [20]:
df = pd.read_csv(r'mfvaccdata.csv')

In [21]:
df.head()

,District_Key,State,District,mvacc,fvacc
0,AN_Nicobars,Andaman and Nicobar Islands,Nicobars,16267.0,13922.0
1,AN_North and Middle Andaman,Andaman and Nicobar Islands,North and Middle Andaman,50819.0,46493.0
2,AN_South Andaman,Andaman and Nicobar Islands,South Andaman,108324.0,94124.0
3,AP_Anantapur,Andhra Pradesh,Anantapur,893118.0,1067715.0
4,AP_Chittoor,Andhra Pradesh,Chittoor,1004937.0,1201195.0

In [22]:
df['State'] = df['State'].str.lower()

In [23]:
#FINDING VACCINE RATIO
df['vaccinationratio'] = df['fvacc']/df['mvacc']

THERE ARE TWO STATES TELANGANA AND LADAKH PRESENT IN VACC BUT NOT IN CENSUS,AS THEY ARE NEWLY FORMED STATES,
but DISTRICTS ARE REMAINED SAME SO WE MERGE THEM INTO THEIR OLD STATES

In [24]:

df['State']=df['State'].str.replace('telangana','andhra pradesh')
df['State']=df['State'].str.replace('ladakh','jammu and kashmir')

In [25]:
#AS DADRA AND NAGAR HAVELI and DAMAN AND DIU ARE CONSIDERED AS DIFFERENT STATES WE ARE CHANGING STATE NAMES
df.iloc[152,1] = 'dadra and nagar haveli'
df.iloc[153,1] = 'daman and diu'
df.iloc[154,1] = 'daman and diu'

In [26]:
df.iloc[[152]]

,District_Key,State,District,mvacc,fvacc,vaccinationratio
152,DN_Dadra and Nagar Haveli,dadra and nagar haveli,Dadra and Nagar Haveli,271372.0,119732.0,0.44121

In [27]:
# df[df['State'] == 'delhi']  #use this for other questions

In [28]:
# census_data[census_data['State'] == 'delhi']

In [29]:
#THIS IS REQUIRED TO ENABLE MERGING BETWEEN CENSUSDATA AND VACCINATIONDATA
df['full'] = df['State'].astype(str)+'_'+df['District']

In [30]:
lst1 = df['full'].unique()
lst2 = census_data['full'].unique()

In [31]:
len(lst1),len(lst2)

(729, 676)

In [32]:
a = sorted([i for i in lst1 if i not in lst2])
b = sorted([i for i in lst2 if i not in lst1])
# a

In [33]:
# #for using in ques8
# ques8 = census_data[['State','Name','TOT_P','full']]
# ques8.to_csv('censusdataforques8.csv',index=False)

## "STATEONLY" CONSISTS OF ALL STATES DATA WHICH WILL BE USED WHILE ANALYSING FOR STATE

In [34]:
stateonly = census_data[census_data['Level']=='STATE']

stateonly.reset_index(inplace=True,drop=True)
stateonly

#dropping state rows
ind = census_data[census_data['Level']=='STATE'].index
census_data.drop(ind,inplace=True)

MERGING CENSUSDATA AND VACCDATA FOR DISTRICTWISE

In [35]:
df2 = pd.merge(df,census_data, on=["full",'full'])

In [36]:
#CALCULATING RATIOS
result = df2[['District_Key','vaccinationratio','fmratio']]

result['ratioofratios'] = result['vaccinationratio']/result['fmratio']

# result.head(100)

In [37]:
result.rename(columns={'DIstrict_Key':'districtid','fmratio':'populationratio'},inplace=True)

In [38]:
result.sort_values('ratioofratios',inplace=True)

In [39]:
# WRITING TO CSV
result.to_csv('district-vaccination-population-ratio.csv',index=False)

# STATEWISE ANALYSIS

In [40]:
stateonly.head()

,State,District,Level,Name,TRU,TOT_P,TOT_M,TOT_F,fmratio,full
0,jammu and kashmir,0,STATE,JAMMU and KASHMIR,Total,12541302,6640662,5900640,0.888562,jammu and kashmir_JAMMU and KASHMIR
1,himachal pradesh,0,STATE,HIMACHAL PRADESH,Total,6864602,3481873,3382729,0.971526,himachal pradesh_HIMACHAL PRADESH
2,punjab,0,STATE,PUNJAB,Total,27743338,14639465,13103873,0.895106,punjab_PUNJAB
3,chandigarh,0,STATE,CHANDIGARH,Total,1055450,580663,474787,0.817664,chandigarh_CHANDIGARH
4,uttarakhand,0,STATE,UTTARAKHAND,Total,10086292,5137773,4948519,0.963164,uttarakhand_UTTARAKHAND

In [41]:
df.columns

Index(['District_Key', 'State', 'District', 'mvacc', 'fvacc',
       'vaccinationratio', 'full'],
      dtype='object')

In [42]:
vacc_data_state = df[['State','mvacc', 'fvacc']]

In [43]:
vacc_data_state = vacc_data_state.groupby('State').aggregate({'mvacc':sum,'fvacc':sum})

In [44]:
vacc_data_state.reset_index(inplace=True)

In [45]:
df_state = pd.merge(vacc_data_state,stateonly, on=["State",'State'])

In [46]:
df_state.columns

Index(['State', 'mvacc', 'fvacc', 'District', 'Level', 'Name', 'TRU', 'TOT_P',
       'TOT_M', 'TOT_F', 'fmratio', 'full'],
      dtype='object')

In [47]:
#female to male ratio for each state is already present in our df

#CALCULATING RATIOS
df_state['vaccinationratio'] = df_state['fvacc']/df_state['mvacc']
df_state['ratioofratios'] = df_state['vaccinationratio']/df_state['fmratio']

In [48]:
#RENAMING COLUMNS
df_state.rename(columns={'State':'stateid','fmratio':'populationratio'},inplace=True)

In [49]:
finaldf_state = df_state[['stateid','vaccinationratio','populationratio','ratioofratios']]

In [50]:
finaldf_state.head()

,stateid,vaccinationratio,populationratio,ratioofratios
0,andaman and nicobar islands,0.881016,0.875975,1.005754
1,andhra pradesh,1.081885,0.992849,1.089678
2,arunachal pradesh,0.805917,0.938232,0.858975
3,assam,0.895896,0.957758,0.935410
4,bihar,0.872921,0.917888,0.951009

In [51]:
finaldf_state.sort_values('ratioofratios',inplace=True)

In [52]:
#WRITING INTO CSV FOR STATE
finaldf_state.to_csv('state-vaccination-population-ratio.csv',index=False)

# OVERALL

In [53]:
#TAKING STATE DATAFRAME WHICH CONSISTS OF ALL DATA
df_state.columns

Index(['stateid', 'mvacc', 'fvacc', 'District', 'Level', 'Name', 'TRU',
       'TOT_P', 'TOT_M', 'TOT_F', 'populationratio', 'full',
       'vaccinationratio', 'ratioofratios'],
      dtype='object')

In [54]:
#COLUMNS REQUIRED FOR OVERALL
overall_df = df_state[['Level','mvacc', 'fvacc','TOT_P', 'TOT_M', 'TOT_F']]

In [55]:
overall_df.head()

   Level       mvacc       fvacc      TOT_P     TOT_M     TOT_F
0  STATE    175410.0    154539.0     380581    202871    177710
1  STATE  19799381.0  21420656.0   84580777  42442146  42138631
2  STATE    498628.0    401853.0    1383727    713912    669815
3  STATE   7316294.0   6554641.0   31205576  15939443  15266133
4  STATE  16028771.0  13991844.0  104099452  54278157  49821295

In [56]:
#GROUPING TO SUM ALL DISTRICTS IN INDIA BY GROUPING LEVEL=="State"
overall_df = overall_df.groupby('Level').agg(sum)

overall_df.reset_index(inplace=True,drop=True)

In [57]:
overall_df['overallid'] = 'India'

In [58]:
overall_df.head()
#AS COL3 TOT_P is correct ORIGINAL INDIA POPULATION FROM INPUTCSV(CENSUS DATA)#THIS IS ACCURATE

         mvacc        fvacc       TOT_P      TOT_M      TOT_F overallid
0  285317754.0  253955967.0  1210854977  623270258  587584719     India

CALCULATING RATIOS

In [59]:
overall_df['vaccinationratio'] = overall_df['fvacc']/overall_df['mvacc']
overall_df['populationratio'] = overall_df['TOT_F']/overall_df['TOT_M']
overall_df['ratioofratios'] = overall_df['vaccinationratio']/overall_df['populationratio']

In [60]:
#REQUIRED COLUMNS
overall_df1 = overall_df[[ 'overallid','vaccinationratio', 'populationratio', 'ratioofratios']]

In [61]:
overall_df1.sort_values('ratioofratios',inplace=True)

In [62]:
#writing to csv
overall_df1.to_csv('overall-vaccination-population-ratio.csv',index=False)